<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Movie rating</title>
        <link rel="icon" type="image/png" href="favicon.ico">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap">
        <script src="https://unpkg.com/vue@next"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script> <!-- import axios-->
        <script src="https://unpkg.com/vue-star-rating@next/dist/VueStarRating.umd.min.js"></script> <!-- stars -->
    </head>
    <body>
        <div id="app">
            <div id="header">
                <h1 id="pagetitle"> Movie rating </h1>
                <p> Welcome to the movie rating page. You can contribute to dataset generation used in recommendation system. </p>
            </div>
            <div v-if="showNameInput" id="nameForm">
                <input id="nameInput" v-model="nickname" placeholder="Your nickname" class="normalNicknameField" v-bind:class="{invalidNicknameField: invalidInput}" v-on:keyup.enter="showMovieDiv">
                <button v-on:click="showMovieDiv">Let's start rating</button>
            </div>
            <div v-else id="movieRateArea">
                <div v-if="movieNotLoaded">
                    <p>Loading movie to rate...</p>
                    <div class="loader"></div>
                </div>
                <div v-else id="movieDetails">
                    <img v-bind:src="movieDetails.posterPath" v-bind:alt="movieDetails.posterAlt" id="poster">
                    <h2 id="movieTitle">{{movieDetails.movieTitle}}</h2>
                    <h3 id="overallRating"> <span class="small">Overall rating:</span> {{movieDetails.overallRating}} / <span class="small">Votes:</span> {{movieDetails.voteCount}}</h3>
                    <h3 id="relaseDate"><span class="small">Release Date:</span> {{movieDetails.releaseDate}}</h3>
                    <star-rating id="starRating" v-bind:max-rating="10" v-bind:star-size="25" @update:rating="setRating" v-bind:inline="true"></star-rating>
                    <div id="movieNavButtons">
                        <button v-on:click="skipMovie"> Skip this one </button>
                        <button v-on:click="rateMovie" v-if="!rateWithoutConfirm"> Send rating </button>
                        <div>
                            <input type="checkbox" id="ratingCheckbox" v-model="rateWithoutConfirm"/>
                            <label for="ratingCheckbox"> Quickrate </label>
                        </div>
                    </div>
                    <p id="movieOverview"><span class="overviewSpan">Overwiew</span> <br> {{movieDetails.overview}}</p>
                </div>
            </div>
        </div>
    <script type="application/javascript" src="main.js"></script>
    </body>
</html>